# Dependencies
node_modules/
package-lock.json

# Build output
dist/

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Testing
coverage/

# Misc
.DS_Store
*.pem 